{% extends 'base.html.twig' %}

{% block title %}
    Play All
{% endblock %}

{% block body %}
    <p>
        <a href="/">Generate new data</a>
    </p>

    <form action="/weeks/all" method="post">

        {% for week in weeks %}
            {% set week_number = loop.index0 %}

            <h4>{{ week.getNumber }}th week results</h4>
            <table>
                <thead>
                    <tr>
                        <th>League Table</th>
                        <th>Match Reuslts</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Teams</th>
                                        <th>PTS</th>
                                        <th>P</th>
                                        <th>W</th>
                                        <th>D</th>
                                        <th>L</th>
                                        <th>GD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ts in week.getTeamsStats %}
                                        <tr>
                                            <td>{{ ts.getTeam.getName }}</td>
                                            <td>{{ ts.getPoints }}</td>
                                            <td>{{ ts.getPlayed }}</td>
                                            <td>{{ ts.getWon }}</td>
                                            <td>{{ ts.getDrawn }}</td>
                                            <td>{{ ts.getLost }}</td>
                                            <td>{{ ts.getGoalDifference }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table>
                                <tbody>
                                    {% for match in week.getMatches %}
                                        <tr>
                                            <td>{{ match.getFirstTeam.getName }}</td>
                                            <td>
                                                <input type="text"
                                                       size="2"
                                                       name="matches[{{ week_number }}][{{ loop.index0 }}][{{ match.getFirstTeam.getId }}]"
                                                       value="{{ match.getFirstTeamScore }}">
                                                -
                                                <input type="text"
                                                       size="2"
                                                       name="matches[{{ week_number }}][{{ loop.index0 }}][{{ match.getSecondTeam.getId }}]"
                                                       value="{{ match.getSecondTeamScore }}">
                                            </td>
                                            <td>{{ match.getSecondTeam.getName }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}

        <p>
            <input type="submit" value="Update results" />
        </p>
    </form>
{% endblock %}